<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">{{ brand }}</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="token">Home</a>
    </li>
    <!-- /.nav-item -->
    <li class="nav-item ml-3">
      <a class="nav-link" routerLink="/add-todo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="token">Add task</a>
    </li>
    <!-- /.nav-item -->
    <li class="nav-item ml-3">
      <a class="nav-link" routerLink="/login" (click)="onLogout()" *ngIf="token">Logout</a>
    </li>
    <!-- /.nav-item -->
  </ul>
  <!-- /.navbar-nav -->
</nav>
<!-- /.navbar -->

