<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Todo list № {{ todo?.id }}</h5>
      <form *ngIf="todo" [formGroup]="editForm" (ngSubmit)="onEdit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                 id="title"
                 class="form-control"
                 formControlName="title"
                 [ngClass]="{'is-invalid': editForm.get('title').invalid && isSubmitted}"
          >
          <div class="invalid-feedback" [hidden]="!editForm.get('title').invalid && editForm.get('title').dirty">Title is required</div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
          <label>Is it finished?</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio"
                     value="true"
                     formControlName="completed"
              >
              Finished
            </label>
            <label class="radio-inline">
              <input type="radio"
                     class="ml-3"
                     value="false"
                     formControlName="completed"
              >
              Not finished
            </label>
          </div>
          <!-- /.form-control -->
        </div>
        <!-- /.form-group -->
        <button type="button" *ngIf="isReadonly" class="btn btn-primary" (click)="onEnable()">Edit</button>
        <button type="submit" *ngIf="!isReadonly" class="btn btn-primary">Save</button>
      </form>
      <!-- /form -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.container -->

